@import "tailwindcss";
@plugin 'daisyui';

@theme {
  --color-accent: #FD62C7;
  --color-selection: #EFC9F7;

  --font-sans: "Nunito", sans-serif;

  --shadow-card: 0 0 15px 6px rgb(0 0 0 / 0.25);

  --noise-svg: url("/img/noise-filter.svg");
}

* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth !important;
}

html {
  overscroll-behavior: none;
  text-wrap: pretty;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a:hover {
  background: var(--color-selection);
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a[target="_blank"]:after {
  content: " ↗";
}


span {
  text-decoration: underline wavy transparent;
}

::selection {
  text-decoration: underline wavy var(--color-selection);
  color: var(--color-selection);
  background: transparent;
}

::-webkit-scrollbar {
  display: none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  width: 0 !important;
  background: none !important;
}

div[data-rmiz-modal-overlay="visible"] {
  background-color: black !important;
}
